/tema4/estructurales/Composite/nbproject/private/
/tema4/estructurales/Composite/build/
/tema4/estructurales/Observer/nbproject/private/
/tema4/estructurales/Observer/build/
/tema4/estructurales/State/nbproject/private/
/tema4/estructurales/State/build/
/tema4/estructurales/Strategy/nbproject/private/
/tema4/estructurales/Strategy/build/
